p {
    color: rgb(7, 3, 3);
}
h1 {
    font-weight: 300;
    font-size: larger;
}
.bold {
    text-decoration: wavy;
}
.italic {
    text-shadow: black;
}
header {
    text-decoration: wavy;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.footer {
    font-size: larger;
}
.caption{
    font-size: 20px;
}